<html lang='ko'>

<head>
</head>

<body>
    <!-- 메일 본문 (이 부분만 가져다 사용하세요) : start -->

    <div style='display: block; width:100%; text-align: center; max-width: 700px; padding:30px;'>
        <div style='display: block; width:100%; text-align: left;'>
            <img src='{{assetUrl}}/logo.png' style='width: 160px;' alt='SuperBucket' /><!-- 이미지 경로는 수정해서 사용 -->
        </div>

        <div
            style='display: block; width:100%; text-align:left; font-size: 14px; line-height: 21px; color:#222; font-weight: 400;'>
            Edge Vision Analytics (EVA) 기반 청소행정 업무 포털</div>

        <div
            style='display: block; width:100%; text-align:left; font-size: 15px; line-height: 22px; color:#222; font-weight: 700; padding:40px 0; '>
            슈퍼버킷 뉴스레터 가입이 완료되었습니다.
            <br />슈퍼버킷 서비스와 업계 소식을 가지고 찾아뵐게요.
        </div>

        <div style='display: block; width:100%; text-align:center; background: #f4f4f4; padding:60px 17px;'>
            <div style='font-size:15px; font-weight:normal; color:#222; text-align: center;'>등록하신 이메일</div>
            <div
                style='font-size:24px; line-height:31px; font-weight:normal; color:#0E8001!important; text-align: center; padding:10px 0 0'>
                {{ receiveMail.email }}
            </div>
        </div>

        <div
            style='display: block; width:100%; text-align:left; font-size: 13px; line-height: 20px; color:#999; font-weight: 400; padding:50px 0 4px'>
            청소행정 업무를 위한 혁신기술을 경험해 보세요</div>

        <div
            style='display: block; width:100%; text-align:left; font-size: 12px; line-height: 19px; color:#333; font-weight: 700;'>
            2024 SuperBucket. All rights reserved</div>
    </div>
    <!-- 메일 본문 (이 부분만 가져다 사용하세요) : end -->
</body>

</html>